{% extends "layout.html" %}
{% block content %}
<div class="about-sec">
    <h1>About us</h1>
    <p>Seeds of Gold.com was founded out of passion to bring together farmers from all walks of life  to discuss issues and also share knowledge about farming.</p><hr>
 <p> The founder mrs Mugeni Prossy has over 2years of expertise in software development and is also a commercial farmer. With the challenges she faces as afarmer, she ralised that there was need for farmers to have a platform where they can meet and discuss solutions to the challenges and also share knoledge about afarming.</p>
</div>
<div class="events">
    <h1>Events</h1>
    <h3>Farm Market Day</h3>
    <p>Come have the best experince as farmers show off what they have from their farms. There will be alot to give away to the lucky winners of the farmers quiz.
<li> DATE: 26/Feb/ 2019,Nakivubo Stadium, entrance is free</li>
    </p><hr>
    <h3>Farmers Expo</h3>
    <p>Come have the best experince as farmers show off what they have from their farms. There will be alot to give away to the lucky winners of the farmers quiz.
<li> DATE: 17/Feb/ 2019, Wankulukuku Stadium, entrance is 10k and learning is 10k</li>
    </p>
</div>
    {% endblock content %}
